BIVN_PACKING/BIVN_PACKING/Service References/BIVNService/BIVNWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetListPack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="boxId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListPackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListPackResult" type="tns:ArrayOfBIVNPackEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBIVNPackEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BIVNPackEntity" nillable="true" type="tns:BIVNPackEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BIVNPackEntity">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseEntity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="BOXID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="WO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SERIAL_START" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SERIAL_END" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AMOUNT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SERIAL" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATECREATE" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="USER_NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NAME_WO" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseEntity" />
      <s:element name="SaveForm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:BIVNPackEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFormResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetListPackSoapIn">
    <wsdl:part name="parameters" element="tns:GetListPack" />
  </wsdl:message>
  <wsdl:message name="GetListPackSoapOut">
    <wsdl:part name="parameters" element="tns:GetListPackResponse" />
  </wsdl:message>
  <wsdl:message name="SaveFormSoapIn">
    <wsdl:part name="parameters" element="tns:SaveForm" />
  </wsdl:message>
  <wsdl:message name="SaveFormSoapOut">
    <wsdl:part name="parameters" element="tns:SaveFormResponse" />
  </wsdl:message>
  <wsdl:portType name="BIVNWebServiceSoap">
    <wsdl:operation name="GetListPack">
      <wsdl:input message="tns:GetListPackSoapIn" />
      <wsdl:output message="tns:GetListPackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveForm">
      <wsdl:input message="tns:SaveFormSoapIn" />
      <wsdl:output message="tns:SaveFormSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BIVNWebServiceSoap" type="tns:BIVNWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListPack">
      <soap:operation soapAction="http://tempuri.org/GetListPack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveForm">
      <soap:operation soapAction="http://tempuri.org/SaveForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BIVNWebServiceSoap12" type="tns:BIVNWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListPack">
      <soap12:operation soapAction="http://tempuri.org/GetListPack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveForm">
      <soap12:operation soapAction="http://tempuri.org/SaveForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BIVNWebService">
    <wsdl:port name="BIVNWebServiceSoap" binding="tns:BIVNWebServiceSoap">
      <soap:address location="http://172.28.10.17:99/Service/BIVNWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BIVNWebServiceSoap12" binding="tns:BIVNWebServiceSoap12">
      <soap12:address location="http://172.28.10.17:99/Service/BIVNWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>