BIVN_PACKING/BIVN_PACKING/Service References/BIVNService/BIVNWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BarcodeExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="boardNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BarcodeExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BarcodeExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListPack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="boxId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListPackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListPackResult" type="tns:ArrayOfBIVNPackEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBIVNPackEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BIVNPackEntity" nillable="true" type="tns:BIVNPackEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BIVNPackEntity">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseEntity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="BOXID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="WO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SERIAL_START" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SERIAL_END" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AMOUNT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SERIAL" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DATECREATE" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="USER_NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NAME_WO" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseEntity" />
      <s:element name="GetPacks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="boxId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="from" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="to" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPacksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPacksResult" type="tns:ArrayOfBIVNPackEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalByWo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalByWoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTotalByWoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveForm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:BIVNPackEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFormResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetOrderNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderNoResult" type="tns:BIVNWorkOrderEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BIVNWorkOrderEntity">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseEntity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Order_No" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Board_Start" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Board_End" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveOrderNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:BIVNWorkOrderEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveOrderNoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BarcodeExistSoapIn">
    <wsdl:part name="parameters" element="tns:BarcodeExist" />
  </wsdl:message>
  <wsdl:message name="BarcodeExistSoapOut">
    <wsdl:part name="parameters" element="tns:BarcodeExistResponse" />
  </wsdl:message>
  <wsdl:message name="GetListPackSoapIn">
    <wsdl:part name="parameters" element="tns:GetListPack" />
  </wsdl:message>
  <wsdl:message name="GetListPackSoapOut">
    <wsdl:part name="parameters" element="tns:GetListPackResponse" />
  </wsdl:message>
  <wsdl:message name="GetPacksSoapIn">
    <wsdl:part name="parameters" element="tns:GetPacks" />
  </wsdl:message>
  <wsdl:message name="GetPacksSoapOut">
    <wsdl:part name="parameters" element="tns:GetPacksResponse" />
  </wsdl:message>
  <wsdl:message name="GetTotalByWoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalByWo" />
  </wsdl:message>
  <wsdl:message name="GetTotalByWoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalByWoResponse" />
  </wsdl:message>
  <wsdl:message name="SaveFormSoapIn">
    <wsdl:part name="parameters" element="tns:SaveForm" />
  </wsdl:message>
  <wsdl:message name="SaveFormSoapOut">
    <wsdl:part name="parameters" element="tns:SaveFormResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderNo" />
  </wsdl:message>
  <wsdl:message name="GetOrderNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderNoResponse" />
  </wsdl:message>
  <wsdl:message name="SaveOrderNoSoapIn">
    <wsdl:part name="parameters" element="tns:SaveOrderNo" />
  </wsdl:message>
  <wsdl:message name="SaveOrderNoSoapOut">
    <wsdl:part name="parameters" element="tns:SaveOrderNoResponse" />
  </wsdl:message>
  <wsdl:portType name="BIVNWebServiceSoap">
    <wsdl:operation name="BarcodeExist">
      <wsdl:input message="tns:BarcodeExistSoapIn" />
      <wsdl:output message="tns:BarcodeExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListPack">
      <wsdl:input message="tns:GetListPackSoapIn" />
      <wsdl:output message="tns:GetListPackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPacks">
      <wsdl:input message="tns:GetPacksSoapIn" />
      <wsdl:output message="tns:GetPacksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalByWo">
      <wsdl:input message="tns:GetTotalByWoSoapIn" />
      <wsdl:output message="tns:GetTotalByWoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveForm">
      <wsdl:input message="tns:SaveFormSoapIn" />
      <wsdl:output message="tns:SaveFormSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderNo">
      <wsdl:input message="tns:GetOrderNoSoapIn" />
      <wsdl:output message="tns:GetOrderNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveOrderNo">
      <wsdl:input message="tns:SaveOrderNoSoapIn" />
      <wsdl:output message="tns:SaveOrderNoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BIVNWebServiceSoap" type="tns:BIVNWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BarcodeExist">
      <soap:operation soapAction="http://tempuri.org/BarcodeExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListPack">
      <soap:operation soapAction="http://tempuri.org/GetListPack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPacks">
      <soap:operation soapAction="http://tempuri.org/GetPacks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalByWo">
      <soap:operation soapAction="http://tempuri.org/GetTotalByWo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveForm">
      <soap:operation soapAction="http://tempuri.org/SaveForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderNo">
      <soap:operation soapAction="http://tempuri.org/GetOrderNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOrderNo">
      <soap:operation soapAction="http://tempuri.org/SaveOrderNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BIVNWebServiceSoap12" type="tns:BIVNWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BarcodeExist">
      <soap12:operation soapAction="http://tempuri.org/BarcodeExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListPack">
      <soap12:operation soapAction="http://tempuri.org/GetListPack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPacks">
      <soap12:operation soapAction="http://tempuri.org/GetPacks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalByWo">
      <soap12:operation soapAction="http://tempuri.org/GetTotalByWo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveForm">
      <soap12:operation soapAction="http://tempuri.org/SaveForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderNo">
      <soap12:operation soapAction="http://tempuri.org/GetOrderNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOrderNo">
      <soap12:operation soapAction="http://tempuri.org/SaveOrderNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BIVNWebService">
    <wsdl:port name="BIVNWebServiceSoap" binding="tns:BIVNWebServiceSoap">
      <soap:address location="http://172.28.10.17:99/Service/BIVNWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BIVNWebServiceSoap12" binding="tns:BIVNWebServiceSoap12">
      <soap12:address location="http://172.28.10.17:99/Service/BIVNWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>